<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Conference</title>
</head>
<body>    
    <div ng-include="'adminmenu.html'"></div>


<div class="container">
    <h2>New Conference </h2>
    <hr class="colorgraph">
    <div class="row col-sm-offset-2 col-md-offset-2"> 
        <!-- Conference Name -->
        <div class="col-xs-10 col-sm-5 col-md-5 control-group">
            <div class="form-group controls">
                <input type="text" name="cons_name" id="cons_name" class="form-control input-lg" placeholder="Conference Name" tabindex="1" ng-model="cons.name" required>
            </div>
        </div>
        <!-- Conference Date -->
        <div class="col-xs-10 col-sm-5 col-md-5 control-group">
            <div class="form-group controls">
                <input type="text" name="cons_date" id="cons_date" class="form-control input-lg" placeholder="Conference Date [yyyy-mm-dd]" tabindex="2" ng-model="cons.confdate">
            </div>
        </div>
    </div>

    <!-- About -->
    <div class="col-xs-8 col-sm-offset-2 col-md-offset-2 form-group">
        <div class="controls">
            <textarea name="about" id="about" class="form-control input-lg" placeholder="About" ng-model="cons.about" tabindex="3"></textarea>
        </div>
    </div>
    <div class="row col-sm-offset-2 col-md-offset-2"> 
        <!-- City -->
        <div class="col-xs-10 col-sm-5 col-md-5 control-group">
            <div class="form-group controls">
                <input type="text" name="city" id="city" class="form-control input-lg" placeholder="City" tabindex="4" ng-model="cons.city">
            </div>
        </div>
        <!--State -->
        <div class="col-xs-10 col-sm-5 col-md-5 control-group">
            <div class="form-group controls">
                <input type="text" name="state" id="state" class="form-control input-lg" placeholder="State" tabindex="5" ng-model="cons.state">
            </div>
        </div> 
    </div>
    <div class="col-xs-10 col-sm-offset-2 col-md-offset-2">
        <button type="button" class="btn btn-labeled btn-warning" disabled>
            <span class="btn-label"><i class="glyphicon glyphicon-bookmark"></i></span> &nbsp;&nbsp;Talk Name
        </button>
        <button class="btn btn-success" ng-click='addPathParam()'>
            <span class="glyphicon glyphicon-plus"></span>
        </button>
        <br/>
        <div class="row control-group" ng-repeat="talk in talks">
            <br />
            <div class="controls">
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="form-group controls">
                        <input type="text" name="talk_name" id="talk_name" class="form-control input-lg" placeholder="Talk Name" tabindex="7" ng-model="talk.tname">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="form-group controls">
                        <input type="text" name="talk_time" id="talk_time" class="form-control input-lg" placeholder="Time [hh:mm:ss]" tabindex="8" ng-model="talk.time">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <button class="btn btn-danger" ng-click='removePathParam()'>
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />
    <div class="col-xs-10 col-sm-offset-2 col-md-offset-2">
        <button type="button" class="btn btn-labeled btn-warning" disabled>
            <span class="btn-label"><i class="glyphicon glyphicon-bookmark"></i></span> &nbsp;&nbsp;Sponsor
        </button>
        <button class="btn btn-success" ng-click='addspoParam()()'>
            <span class="glyphicon glyphicon-plus"></span>
        </button>
            <div class="row control-group" ng-repeat="talk in sponsor">
            <br />
            <div class="controls">
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="form-group controls">
                        <input type="text" name="sponsor_name" id="sponsor_name" class="form-control input-lg" placeholder="Sponsor Name" tabindex="11" ng-model="talk.name">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5">
                    <div class="form-group controls">
                        <input type="text" name="sponsor_url" id="sponsor_url" class="form-control input-lg" placeholder="Sponsor URL" tabindex="11" ng-model="talk.url">
                    </div>
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2">
                    <button class="btn btn-danger" ng-click='removespoParam()'>
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>




     <hr class="colorgraph">

    <div class="row">
        <div class="control-group center-block">
            <div class="col-xs-8 col-sm-4 col-md-4 col-sm-offset-4 col-md-offset-4 controls">
                <input type="submit" value="Add Conference" class="btn btn-success center-block btn-primary btn-block btn-lg" ng-click="add(cons)" tabindex="20">
            </div>
        </div>
    </div>
</div>


<div class="container">  
    <h2>Conference Details</h2>
     <hr class="colorgraph">
    <table class="table table-striped table-bordered table-responsive table-hover">
        <thead>
            <tr>
                <th>Conference Name</th>
                <th>State</th>
                <th>City</th>
                <th>Date</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="con in conf">
                <td>
                    <a href="#/update/{{con._id}}">{{con.name}}</a>
                </td>

                <td>
                    {{con.state}}
                </td>
                <td>
                    {{con.city}}
                </td>
                <td>
                    {{con.confdate.split("T")[0]}}
                </td>
                <td>
                    <button ng-click="remove(con._id)" class="btn btn-danger pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

    <div ng-include="'footer.html'"></div>
  </body>
</html>
