<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Conference Update</title>
</head>
<body>
    <div ng-include="'adminmenu.html'"></div>
    <div class="container">
        <h1>Conference Admin Portal</h1>

                <ol class="breadcrumb">
                    <li><a href="#/admin">Admin Home</a>
                    </li>
                    <li class="active">Talk Details</li>
                </ol>
        <hr>
        <h3>Talk Details</h3>
        <hr class="colorgraph">
        <form name="sentMessage" id="contactForm">
            <div class="control-group form-group">
                <div class="controls">
                    <label>Talk Name:</label>
                    <input type="text" class="form-control" ng-model="talk.tname" />
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label>Talk Description:</label>
                    <textarea class="form-control" ng-model="talk.desc"></textarea>
                </div>
            </div>
            <div class="control-group form-group" ng-repeat="name in talk.P_name">
                <div class="controls">
                    <label>Talk Presenter:</label>
                    <textarea class="form-control">{{name.tp}}</textarea>
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label>Talk Presenter:</label>
                    <select ng-model="myselect">
                        <option ng-repeat="o in user" value="{{o._id}}">
                            {{o.name}}
                        </option>
                    </select>
                </div>
            </div>
            <!-- For success/fail messages -->
            <button type="submit" ng-click="updatetalk()" class="btn btn-primary">Update Talk</button>
        </form>
    </div>
      
    <div ng-include="'footer.html'"></div>  
</body>
</html>
