<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>MyTalk Update</title>
</head>
<body>

    <!-- Navigation -->
    <div ng-include="'usermenu.html'"></div>

    <!-- Page Content -->
    <br/><br/>
    <div class="container">
        <h3>Talk Details</h3>
        <hr class="colorgraph">
        <form name="sentMessage" id="contactForm">
            <div class="control-group form-group">
                <div class="controls">
                    <label>Talk Name:</label>
                    <input type="text" class="form-control" ng-model="talk.tname" />
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label>Talk Description:</label>
                    <textarea class="form-control" ng-model="talk.desc"></textarea>
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    <label>Talk Details:</label>  
                    <ul class="list-unstyled">
                        <li class="">
                            <input class="form-control list-group-item " placeholder="Title" ng-model="name" />
                            <br/>
                            <input class="form-control list-group-item " placeholder="url" ng-model="url" />
                        </li>
                    </ul>
                </div>
            </div>
            <button type="submit"  ng-click="updatetalk()" class="btn btn-primary">Update Talk</button>
        </form>
    </div>
</body>
</html>
