<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Conference</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

    <div ng-include="'usermenu.html'"></div>
    <br/><br/>
    <div class="container">
        <div class="row profile">
            <div class="col-md-3">
                <div class="profile-sidebar">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-userpic">
                        <img height="300" class="img-responsive" src="uploads/{{currentUser.photo}}" alt="" />
                        <!--<img src="http://keenthemes.com/preview/metronic/theme/assets/admin/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">-->
                    </div>
                    <!-- END SIDEBAR USERPIC -->
                    <!-- SIDEBAR USER TITLE -->
                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            {{currentUser.firstname}} {{currentUser.lastname}}
                        </div>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->

                    <!-- SIDEBAR MENU -->
                    <div class="profile-usermenu">
                        <ul class="nav">
                            <li class="active">
                                <a href="#/register/{{currentUser._id}}">
                                    <i class="glyphicon glyphicon-home"></i>
                                    Edit Profile
                                </a>
                            </li>
                            <li>
                                <a href="#/home/">
                                    <i class="glyphicon glyphicon-search"></i>
                                    Search Conference
                                </a>
                            </li>
                            <li>
                                <a href="#/Mytalks/">
                                    <i class="glyphicon glyphicon-ok"></i>
                                    My Talks
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- END MENU -->
                    <div class="text-center center-block">
                        <br />
                        <a href="https://www.facebook.com/" target="_blank"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
                        <a href="https://twitter.com/" target="_blank"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
                        <a href="https://plus.google.com/" target="_blank"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
                        <a href="https://github.com/" target="_blank"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">About</h3>
                        </div>
                        <div class="panel-body">{{currentUser.about}}</div>
                    </div>
               
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Interests</h3>
                        </div>
                        <div class="panel-body">{{currentUser.interest}}</div>
                    </div>

                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Following</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="nav" ng-repeat="follow in currentUser.following">
                                <li>
                                    <a href="#/profile/{{follow._id}}">
                                        <i class="glyphicon glyphicon-user"></i>
                                        {{follow.name}}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
            
                </div>
            </div>

            <div class="col-sm-9" style="" contenteditable="false">
                <div class="panel panel-primary target">
                    <div class="panel-heading" contenteditable="false">Conferences Presented</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4" ng-repeat="conf in currentUser.c_Presented">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/500x150/4AB0D9/ffffff&text={{conf.pName}}">
                                    <div class="caption">
                                        <h3>
                                        <a href="#/conference/{{conf._id}}">
                                            {{conf.pName}}
                                        </a>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-primary target">
                    <div class="panel-heading" contenteditable="false">Talks Presented</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4" ng-repeat="talks in currentUser.talk_presented">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/500x100/0B8055/ffffff&text={{talks.talkname}}">
                                    <div class="caption">
                                        <h3>
                                        <a href="#/Mytalks/{{talk._id}}">
                                            {{talks.talkname}}
                                        </a>
                                        </h3>
                                        <p>
                                            {{ talks.desc | limitTo: 80 }}{{talks.desc.length > 80 ? '...' : ''}}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="push"></div>
            </div>
        </div>
</div>
    <div ng-include="'footer.html'"></div>
    </body>
</html>
