<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div class="container">
        {{talk.P_name}}
        <h4>Talk Details</h4>
        <div>
            <div class="control-group" ng-show='currentUser'>
                <button class="btn btn-success" ng-model="currentUser" ng-click='attend()'>
                    <span class="">Attend</span>
                </button>
            </div>
            {{currentUser}}
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <td>Talk Name</td>
                        <td>
                            {{talk.tname}}
                        </td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>
                            {{talk.desc}}
                        </td>
                    </tr>
                    <tr>
                        <td>Presenter</td>
                        <td>
                            <ul class="list-unstyled">
                                <li class="" ng-repeat="p in talk.P_name">
                                    <ul class="list-unstyled">
                                        <li class="">
                                            <a href="#/profile/{{p._id}}">{{p.tp}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Slides/Data</td>
                        <td>
                            <ul class="list-unstyled">
                                <li class="" ng-repeat="p in talk.slides">
                                    <ul class="list-unstyled">
                                        <li class="">
                                            {{p.name}}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Attendee</td>
                        <td>
                            <ul class="list-unstyled">
                                <li class="" ng-repeat="p in talk.a_name">
                                    <ul class="list-unstyled">
                                        <li class="">
                                            <a href="#profile/{{p._id}}">{{p.ta_name}}</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Review</td>
                        <td>
                            <ul class="list-unstyled">
                                <li class="" ng-repeat="p in talk.review">
                                    <ul class="list-unstyled">
                                        <li class="">
                                            {{p.comment}}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="control-group" ng-show='currentUser'>
                <label class="control-label">Comment</label>
                <div class="controls">
                    <textarea class="form-control" ng-model="newcomment" placeholder="enter your text here"></textarea>
                </div>
                <button class="btn btn-success" ng-click='postReview()'>
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
    </div>
</body>
</html>
